* {   margin: 0;
    padding:0 ;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
img {
    padding-top: 20px;
    padding-left: 50px;
}
body {
    font-family: montserrat;
    background-color: #c8d8e4;
}
nav {
    color :#ffff;
    height: 150px;
    background: #217f99;
}
nav ul {
    float: right;
    padding-top: 20px;
    margin-right: 35px;
}
nav ul li{

    display: inline-block;
    margin : 0 5px;
    line-height: 90px;
    padding : 7px 13px;
    border-radius: 3px;
}
nav ul li a{
    color: #ffff;
}
nav ul li a:hover{
background-color: #ffff;
}
h1{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
}
.logininformation h1{
    text-align: center;
    padding-bottom: 50px;

}
.logininformation{
    margin :auto;
    background-color: white;
    border:3px solid #217f99 ;
    padding-bottom: 20px;
    text-align: center;
}
.logininformation a{
    color: black;
}
.submissionarea{
    margin : auto;
    padding-left: 50px;
    padding-top: 10px;
}
.formdata{
    margin : auto;
    padding :10px;
}